<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sec="http://www.springframework.org/security/facelets/tags"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">


<h:head>
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>

</h:head>

<h:body>
    <style type="text/css">
.ui-g div {
    background-color: #FFFFFF;
    text-align: center;
    border: 0px solid #fafafa;
    padding: 2px;
}
    </style>
    <ui:include src="head.xhtml"></ui:include>

    <div class="ui-g" >
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <h:form id="form">
                <p:commandButton style="float:left;" value="Create" id="create" update=":form:carDetail2" oncomplete="PF('carDialog2').show()" action="#{projects.create()}" />
                <p:dataTable id="tableStateDT" var="car" value="#{projects.list()}" widgetVar="carsTable" multiViewState="true"
                         rows="10" paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15"
                         rowKey="#{car.id}"
                         emptyMessage="No cars found with given criteria" filteredValue="#{projects.filteredProjects}">
                <f:facet name="header">
                    <h:outputText style="font-weight: bold" value="Projects" />
                </f:facet>
                <p:column headerText="Id" sortBy="#{car.id}" filterBy="#{car.id}" filterMatchMode="contains">
                    <h:outputText value="#{car.id}" />
                </p:column>

                <p:column headerText="Name" sortBy="#{car.name}" filterBy="#{car.name}" filterMatchMode="contains">
                    <h:outputText value="#{car.name}" />
                </p:column>
                <p:column headerText="Description" sortBy="#{car.description}" filterBy="#{car.description}" filterMatchMode="contains">
                    <h:outputText value="#{car.description}" />
                </p:column>
                <p:column headerText="Status" sortBy="#{car.status}" filterBy="#{car.status}" filterMatchMode="exact">
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('carsTable').filter()" style="width:100%; box-sizing: border-box;" >
                            <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
                            <f:selectItems value="#{projects.statuses()}" var="stat" itemValue="#{stat}" itemLabel="#{stat.displayName()}"/>
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{car.status.displayName()}" />
                </p:column>
                <p:column style="width:32px;text-align: center">
                    <p:commandButton update=":form:carDetail" oncomplete="PF('carDialog').show()" icon="pi pi-search" title="View">
                        <f:setPropertyActionListener value="#{car}" target="#{projects.selectedProject}" />
                    </p:commandButton>
                </p:column>
                <p:column style="width:32px;text-align: center">
                    <p:commandButton update=":form:carDetail2" oncomplete="PF('carDialog2').show()" icon="pi pi-pencil" title="Edit">
                        <f:setPropertyActionListener value="#{car}" target="#{projects.selectedProject}" />
                    </p:commandButton>
                </p:column>
                <p:column style="width:32px;text-align: center">
                    <p:commandButton update=":form:tableStateDT" action="#{projects.remove}" icon="pi pi-trash" title="Delete">
                        <f:setPropertyActionListener value="#{car}" target="#{projects.selectedProject}" />
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            <p:dialog header="Project Info" widgetVar="carDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
            <p:outputPanel id="carDetail" style="text-align:center;">
                <p:panelGrid  columns="2" rendered="#{not empty projects.selectedProject}" columnClasses="label,value">
                    <f:facet name="header">
                    </f:facet>

                    <h:outputText value="Id:" />
                    <h:outputText value="#{projects.selectedProject.id}" />

                    <h:outputText value="Name" />
                    <h:outputText value="#{projects.selectedProject.name}" />

                    <h:outputText value="Description:" />
                    <h:outputText value="#{projects.selectedProject.description}" />

                    <h:outputText value="Create date:"/>
                    <h:outputText value="#{projects.selectedProject.createDate}">
                        <f:convertDateTime pattern="dd-MM-yyyy" timeZone="Europe/Moscow"/>
                    </h:outputText>

                    <h:outputText value="Start date:"/>
                    <h:outputText value="#{projects.selectedProject.startDate}">
                        <f:convertDateTime pattern="dd-MM-yyyy" timeZone="Europe/Moscow"/>
                    </h:outputText>

                    <h:outputText value="Finish date:"/>
                    <h:outputText value="#{projects.selectedProject.finishDate}">
                        <f:convertDateTime pattern="dd-MM-yyyy" timeZone="Europe/Moscow"/>
                    </h:outputText>

                    <h:outputText value="Status" />
                    <h:outputText value="#{projects.selectedProject.status.displayName()}" />
                    <h:outputText value="Tasks" />
                    <p:dataScroller value="#{projects.tasks()}" var="task" chunkSize="5" mode="inline" scrollHeight="200">
                        <h:panelGrid columns="1" style="width:100%" columnClasses="detail">
                            <p:outputPanel>
                                <h:panelGrid columns="2" cellpadding="5">
                                    <h:outputText value="Name:" />
                                    <h:outputText value="#{task.name}" style="font-weight: bold"/>

                                    <h:outputText value="Description:" />
                                    <h:outputText value="#{task.description}" style="font-weight: bold"/>

                                    <h:outputText value="Status:" />
                                    <h:outputText value="#{task.status.displayName()}" style="font-weight: bold"/>
                                </h:panelGrid>
                            </p:outputPanel>
                        </h:panelGrid>
                    </p:dataScroller>

                </p:panelGrid>
            </p:outputPanel>
        </p:dialog>

                <p:dialog header="Project Edit" widgetVar="carDialog2" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="carDetail2" style="text-align:center;">
                        <p:panelGrid  columns="2" rendered="#{not empty projects.selectedProject}" columnClasses="label,value">
                            <f:facet name="header">
                            </f:facet>

                            <h:outputText value="Id:" />
                            <h:outputText value="#{projects.selectedProject.id}" />

                            <h:outputLabel for="ajax" value="Name:" />
                            <p:inplace id="ajax" editor="true" disabled="false" emptyLabel="name">
                                <p:inputText value="#{projects.selectedProject.name}" required="true" label="name" />
                            </p:inplace>

                            <h:outputText value="Description:" />
                            <p:inplace id="descEdit2" editor="true" disabled="false" emptyLabel="description" >
                                <p:inputText value="#{projects.selectedProject.description}" required="false" label="description"/>
                            </p:inplace>

                            <p:outputLabel for="startdate" value="Start date:" />
                            <p:calendar id="startdate" value="#{projects.selectedProject.startDate}" showOn="button" timeZone="Europe/Moscow"/>

                            <p:outputLabel for="finishdate" value="Finish date:" />
                            <p:calendar id="finishdate" value="#{projects.selectedProject.finishDate}" showOn="button" timeZone="Europe/Moscow" />

                            <p:outputLabel for="stat" value="Status:" />
                            <p:selectOneMenu id="stat" value="#{projects.selectedProject.status}" style="width:125px">
                                <f:selectItems value="#{projects.statuses()}" var="stat" itemValue="#{stat}" itemLabel="#{stat.displayName()}" />
                            </p:selectOneMenu>

                        </p:panelGrid>

                    </p:outputPanel>
                    <p:commandButton value="Save" id="save2" update=":form:tableStateDT" oncomplete="PF('carDialog2').hide()" action="#{projects.save()}" style="margin-right:20px;" />
                </p:dialog>
            </h:form>

        </div>
        <div class="ui-g-1"></div>
    </div>

</h:body>
</html>